.sidebar {
    width: 230px;
    min-height: 100vh;
    background: rgba(10, 12, 20, 0.92);
    padding-top: 20px;
    border-right: 1px solid rgba(100, 120, 255, 0.25);
    backdrop-filter: blur(12px);
    box-shadow: 6px 0 25px rgba(0,0,0,0.4);
    position: fixed;
    left: 0;
    top: 0;
}

.sidebar-header {
    color: #6caaff;
    font-size: 22px;
    font-weight: 700;
    padding-left: 20px;
}

.sidebar-sub {
    color: #9ba3b5;
    font-size: 13px;
    padding-left: 20px;
    margin-bottom: 15px;
}

.sidebar-menu {
    margin-top: 10px;
}

.sidebar-item {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #cbd2df;
    padding: 12px 18px;
    margin: 5px 8px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;

    transition: 0.15s;
}

.sidebar-item .icon {
    font-size: 18px;
}

.sidebar-item:hover {
    background: rgba(105, 135, 255, 0.18);
    transform: translateX(3px);
}

.sidebar-item.active {
    background: linear-gradient(90deg, #5865F2, #3b82f6);
    color: #fff;
    box-shadow: 0 0 14px rgba(88,101,242,0.55);
}
